Flask==0.10.1
Flask-Assets==0.11
Flask-Migrate==1.6.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
PyExecJS==1.1.0
PyReact==0.5.2
SQLAlchemy==1.0.9
Shapely==1.5.13
Unidecode==0.04.18
Werkzeug==0.11
alembic==0.8.3
argparse==1.2.1
beautifulsoup4==4.4.1
beertools==0.1.7
click==6.2
cssmin==0.2.0
flask-jsontools==0.1.1-0
geojson==1.3.2
itsdangerous==0.24
jsmin==2.1.6
numpy==1.10.4
overpass==0.3.1
psycopg2==2.6.1
python-Levenshtein==0.12.0
python-dateutil==2.4.2
python-editor==0.4
pytz==2015.7
requests==2.8.1
six==1.10.0
webassets==0.11.1
wsgiref==0.1.2
