# Environment file used by foreman

# Ensure output is written to stdout
PYTHONUNBUFFERED=true
SECRET_KEY={{flask_settings.secret_key}}
DEBUG={{flask_settings.debug}}
SQLALCHEMY_DATABASE_URI=postgresql://{{database.username}}:{{database.password}}@localhost:5432/{{database.name}}