<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% block css %}
        {% assets "css_base" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar">

            <h1>Øldatabasen</h1>

            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('index')}}">Hjem</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('search')}}">Søk</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('brewery_list')}}">Bryggerier</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('style_list')}}">Øltyper</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('pol_shops')}}">Polutsalg</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('unmatched_beers')}}">Umatcha øl</a>
                </li>
                <!--  TODO: only show for admins
                <li class="navbar-item">
                    <a class="navbar-link" href="{{ url_for('match_suggestions')}}">Matcheforslag</a>
                </li>
                -->

            </ul>
            <div class="u-pull-right navbar-search" id="find_beer">
            </div>
        </nav>



        <div class="content">
        {% block main %}
        {% endblock %}
        </div>
    </div>

    {% block js %}

    {% assets "js_beer_list" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        (function () {
            bd.setupSimpleBeerSearch(
                document.getElementById('find_beer')
            );
        }());
    </script>

    {% endblock %}
</body>
</html>
