{% extends "base.html" %}

{% block css %}
{{ super() }}

{% endblock %}

{% block main %}
<h1>Bryggerier</h1>
<div id="brewery_list"></div>

{%endblock %}


{% block js %}

    {% assets "brewery_list_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {{ super() }}

    <script type="text/javascript">
        (function () {

            var breweryList = {{ json | safe }};
            bd.renderBreweyTable(breweryList, ['name', 'country', 'num_beers'], document.getElementById('brewery_list'));
        }());
        
    </script>

{% endblock %}