{% extends "base.html" %}

{% block css %}
{{ super() }}

{% endblock %}

{% block main %}
<h1>{{brewery.name}}</h1>
{%if num > 0 %}
<p>Det er pr nå registrert {{num}} øl fra {{brewery.name}} hos Vinmonopolet.</p>
{% else %}
<p>Det er pr nå ikke registrert noen øl fra {{brewery.name}} hos Vinmonopolet.</p>
{%endif %}
<div id="beer_list"></div>

{%endblock %}


{% block js %}
{{ super() }}
    {% assets "js_beer_list" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        (function () {
            var beerList = {{ json | safe }};
            if (beerList.length) {
                bd.renderPolBeerTable(
                    beerList,
                    ['name', 'style', 'rating', 'abv', 'price'],
                    document.getElementById('beer_list')
                );
            }
        }());
        
    </script>

{% endblock %}