{% extends "base.html" %}

{% block css %}
{{ super() }}

{% endblock %}

{% block main %}
    <h1>Fiks ølmatching</h1>
    <div id="beer_fixer"></div>

{% endblock %}

{% block js %}

    {% assets "fix_beer_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {{ super() }}

    <script type="text/javascript">
        (function () {
            var data = {{ json | safe }};
            bd.renderBeerFixer(data.pol_beer, data.rb_beer, document.getElementById('beer_fixer'));
        }());

    </script>

{% endblock %}