{% extends "base.html" %}

{% block css %}
{{ super() }}
{% for css in external_css %}
    <link href="{{css}}" rel="stylesheet" type="text/css" />
{% endfor %}
!!
{% endblock %}

{% block title %}{{ super() }} - {{title}}{% endblock %}

{% block main %}
<div id="{{div_name}}"></div>
{%endblock %}

{% block js %}
    {% for js in external_js %}
    <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
    {% assets jsbundle %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {{ super() }}

    <script type="text/javascript">
        (function () {
            {{init_func}}({{ json | safe }}, '{{div_name}}', '{{title}}');
        }());
    </script>
{% endblock %}
