{% extends "base.html" %}


{% block main %}
      <div class="jumbotron">
        <h1>Ølmonopolet</h1>
        <p>Se ølutvalget fra Vinmonopolet slik det burde være!</p>

        <p>Ølmonopolet henter daglig oppdatert øl-beholdning fra Vinmonopolet og 
        ukentlig Ratebeer-data og kombinerer disse for å gi en mest mulig 
        komplett oversikt over hva som finnes av øl på Polet.</p>

      </div>

{% endblock %}


{% block js %}

    {% assets "index_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {{ super() }}

{% endblock %}

