{% extends "base.html" %}


{% block main %}
      <div class="jumbotron">
        <h1>Ølmonopolet</h1>
        <p>Se ølutvalget fra Vinmonopolet slik det burde være!</p>

        <p>Ølmonopolet henter daglig oppdatert øl-beholdning fra Vinmonopolet og 
        ukentlig Ratebeer-data og kombinerer disse for å gi en mest mulig 
        komplett oversikt over hva som finnes av øl på Polet.</p>

        <p>Hvis du oppdager noen feil, eller har inspill til hvordan siden kan gjøres bedre, opprett et issue på <a href="https://github.com/atlefren/beerdatabase/issues" target="_blank">GitHub</a>. Jeg bruker ikke mye penger på denne siden, men det koster litt med serverplass og det går jo med noe tid. Hvis du ønsker å støtte meg med penger, bruk <a href="https://flattr.com/submit/auto?user_id=atlefren&url=http%3A%2F%2Folmonopolet.no" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>. Ellers kan du jo vurdere å kjøpe en øl til meg om du ser meg på en pub?</p>

        <p>Takk til Morten Barbarossa Brekkevold som har vært så vennlig å donere domenet ølmonopolet.no!</p>

      </div>



{% endblock %}