{% extends "base.html" %}

{% block css %}
{{ super() }}

{% endblock %}

{% block main %}

<div id="beer_list"></div>

{%endblock %}


{% block js %}
{{ super() }}
    {% assets "js_beer_list" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        //console.log({{ json | safe }});
        (function () {
            var beerList = {{ json | safe }};
            bd.renderPolBeerTable(
                beerList,
                document.getElementById('beer_list')
            );
        }());
        
    </script>

{% endblock %}