{% extends "base.html" %}

{% block css %}
{{ super() }}

{% endblock %}

{% block main %}
<h1>Match-hjelp øl</h1>

<div id="beer_list"></div>

{%endblock %}

{% block js %}

    {% assets "match_suggestions_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {{ super() }}

    <script type="text/javascript">
        (function () {
            var unmatched = {{ json | safe }};
            bd.renderBeerFixSuggestions(unmatched, document.getElementById('beer_list'));
        }());
    </script>

{% endblock %}