{% extends "base.html" %}

{% block css %}
{{ super() }}

{% endblock %}

{% block main %}
<h1>Øl på polet</h1>
<div id="beer_list"></div>

{%endblock %}

{% block js %}
{{ super() }}

    <script type="text/javascript">
        (function () {
            var beerList = {{ json | safe }};
            bd.renderPolBeerTable(
                beerList,
                ['name', 'brewery', 'style', 'rating', 'abv', 'price'],
                document.getElementById('beer_list')
            );
        }());

    </script>

{% endblock %}
