{% extends "base.html" %}

{% block css %}
{{ super() }}

{% endblock %}

{% block main %}

    <div id="beer_details"></div>

{% endblock %}

{% block js %}

    {% assets "pol_beer_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {{ super() }}

    <script type="text/javascript">
        (function () {
            var beer = {{ json | safe }};
            bd.renderBeerOverview(beer,
                document.getElementById('beer_details')
            );
        }());

    </script>

{% endblock %}