{% extends "base.html" %}

{% block css %}
{{ super() }}

{% endblock %}

{% block main %}

    <div id="shop_details"></div>

{% endblock %}

{% block js %}

    {% assets "pol_shop_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {{ super() }}

    <script type="text/javascript">
        (function () {
            var shop = {{ json | safe }};
            var beers = {{beers_json | safe}};
            bd.renderPolShopOverview(shop, beers, document.getElementById('shop_details'));
        }());

    </script>

{% endblock %}