{% extends "base.html" %}

{% block css %}
{{ super() }}

{% endblock %}

{% block main %}
<h1>Umatcha øl</h1>

<div class='alert alert-warning'>
    <strong>Hjelp:</strong>
    <p>Disse ølene fra Vinmopoltets lister har vi ikke klart å automatisk matche
        med noen øl fra Ratebeer. Hvis du tror du kan hjelpe til, klikk på 
        ølnavnet, så kan du søke i Ratebeer-databasen og foreslå en match. Takk!
    </p>
    
</div>

<div id="beer_list"></div>
{%endblock %}

{% block js %}

    {% assets "unmatched_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {{ super() }}

    <script type="text/javascript">
        (function () {
            var beerList = {{ json | safe }};
            bd.renderPolBeerTable(
                beerList,
                ['name', 'brewery', 'num_unmatched'],
                document.getElementById('beer_list')
            );
        }());
    </script>

{% endblock %}
