* {
    box-sizing: border-box;
}

.table-sortable th.sortable {
    white-space: nowrap;
    cursor: pointer;
}

.navbar {
    left: 0;
    position: fixed;
    top: 0;
    padding-left: 3rem;
    padding-right: 3rem;
}

.navbar h1 {
    display: inline-block;
    float: left;
    margin-right: 10rem;
}

.navbar, .navbar-spacer {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    display: block;
    height: 6.5rem;
    width: 100%;
    z-index: 99;
}

.navbar .navbar-search{
    height: 6.5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

.content {
    margin-top: 10rem;
}

.alert {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 1rem 2rem;
    margin: 0 .2rem;
}

.alert.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}


.score-box {
    padding-top: 12px;
}

.score-box .overallScore {
    font-size: 250%;
    font-weight: bold;
    margin-top: -15px;
}

.score-box .styleScore {
    font-size: 150%;
    font-weight: bold;
    margin-top: -10px;
}

.score-box .styleHeader {
    font-size: 80%;
}

  .navbar-list {
    list-style: none;
    margin-bottom: 0; }

  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }

  .navbar-link {
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }

  .navbar-link.active {
    color: #33C3F0; }


.pie {
    display: inline-block;
    vertical-align: middle;
}

.pie svg {
    margin-right: 2rem;
}

.pie span.label {
    margin-right: 1rem;
}


.multiple {
    height: 10rem;
}


.slider .noUi-connect {
    background: #ddd;
}

.noUi-horizontal.noUi-extended {
    padding-right: 32px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
    left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
    right: -32px;
}